@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;600;700&display=swap');
/* 防止捲動 */
body.loading {
    overflow: hidden;
}

.fade-out {
    opacity: 0;
    pointer-events: none;
}

body {
    font-family: 'Noto Sans TC', sans-serif;
}

.gradient-bg {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.card-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-hover:hover {
    transform: translateY(-5px);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.blog-post {
    transition: border-color 0.3s ease;
}
.picture-post{
    transition: transform 0.15s ease-out;
}
.blog-post:hover {
    border-color: #0c0711;
}